/* Add flexbox to the navbars. */

/* Format the size of all images. */

/* Style the font color. */

/* Style the background with a color or image. */

/* Adjust the spacing of your page. */

/* Adjust the positioning of your page.  */


* {
    box-sizing: border-box;
  }
  
  body {
    background:url(Tv\ Static.webp);
    padding: 20px;
    .gowun-batang-regular {
      font-family: "Gowun Batang", serif;
      font-weight: 400;
      font-style: normal;
    }
    text-align: center;
  }
  
  .heading{
    background-color: black;
    color: #white;
    padding: 1em;
  }
  
  .main {
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
    
  }
  
  .content {
    background-color: #272b30;
    margin: 20px;
    padding: 10px;
    color: white;
    border-radius: 10px;
  }


  .btn {
    border: none;
    outline: none;
    padding: 15px 15px;
    background-color: gold;
    cursor: pointer;
    margin-right: 27px;
    
  }
button:hover{
  box-shadow: 0 0 5px gold,
  0 0 25px gold, 0 0 50px gold,
  0 0 100px gold, 0 0 200px gold;
}
  nav {
    /* background-color: #272b30; */
    padding: 10px;
    border-radius: 10px;
  }
  
  footer {
    background-color: #272b30;
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 1em;
    border-radius: 10px;
  }
  img {
    width:60%;
    height: auto;
  }